body,header,div,nav,a,ul,li,a,footer{
	margin: 0;padding: 0;
}
a { text-decoration: none; }
li{list-style:none}

img{vertical-align:top;border:none}

#beVipImg,#headSearchBox1Img,#bannerImg,.bannerBelowBox,.detailBoxImg1,.detailBoxImg2{
	background-color: #e7e7e7;
}
#banner{
	display: block;
	float: left;
}
#bannerBelow,#select,#insertDrawing,#gallery,#album,#more{
	margin: 0 50px;
	display: block;
	float: left;
}

header{
	background-color: white;
	min-width: 1480px;
	width: 100%;
}
body{
	background-color: #f7f7f7;
}
footer{
	margin-top: 90px;
	height: 50px;
	background-color: black;
	float: left;
	width: 100%;
}
header,#headLogo,#headNav,#headSearch,#headLogin{
	height: 100px;
}
#headLogo{
	width: 200px;
	float: left;
}
#headLogo h1{
margin-top: 35px;
margin-left: 50px;
color: orangered;
}
#headNav{
	width: 500px;
	float: left;

}
#headNav ul{
	margin-top: 44px;

}
#headNav ul li{
	float: left;
	margin: 0 20px;

}
#headNav ul li a{
	size: 16px;
	color: #000000;
	
}
#beVipImg{
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 8px;
}
#headSearch{
	width: 580px;
	float: left;

}
#headSearchBox1{
	height: 40px;
	margin-top: 20px;
	border: 3px orangered solid;
}
#headSearchBox1Img{
	width: 38px;
	height: 38px;
	float: left;
	margin: 1px;
}
#headSearchBox1Input{
	width: 426px;
	height: 40px;
	float: left;
	margin-left: 8px;
}
#headSearchBox1Input input{
	width: 426px;
	height:40px; 
	padding: 0px;
	border: 0px;
}
#headSearchBox1Button{
	height: 40px;
	width: 100px;
	float: left;
}
#btnSearch{
	background-color: orangered;
	color: white;
	width: 100px;
	height: 41px;
	padding: 0px;
	border: 0px;
}
#headSearchBox2{
	height: 30px;
	margin-top: 7px;
}
#headSearchBox2 ul{

}
#headSearchBox2 ul li{
	size: 14px;
	float: left;
	margin: 4px 0px;
}
#headSearchBox2 ul li span,#headSearchBox2 ul li a,#headLogin ul li a,#headLogin ul li span{
	color: #9c9c9c;
}
#headSearchBox2 ul li span{
	margin: 0 4px;
}
#headLogin{
	width: 120px;
	float: right;

}
#headLogin ul{
	margin: 30px 0;
}
#headLogin ul li{
	size: 14px;
	float: left;
	margin: 4px 0px;
}
#headLogin ul li span{
	margin: 0 8px;
}
#contentNav{
	width: 100%;
	height:71px;
	background-color: #ffffff;
}
#contentNav ul{
	height: 71px;
	width: 100%;
	margin: 0 50px;
}
#contentNav li{
	float: left;
	margin: 25px 50px 25px 0px;
}
#contentNav li a{
	size: 16px;
	color: #333333;
}
#content{
	min-width: 1580px;
	width: 1580px;
	margin: 0 auto;
}

#banner{
	height: 394px;
	padding-top: 20px;
}
#bannerImg{
	width: 1480px;
	height: 394px;
}
#bannerLeft,#bannerRight{
	width: 50px;
	height: 394px
}
#banner div{
	float: left;
}
#bannerNav li{
	margin: 10px;
	width: 30px;
	height: 5px;
	background-color: white;
	float: left;
	display: block;
	position: relative;
	top: -40px;
	left: 665px;
}

#bannerBelow{
	margin-top: 20px;
}
.bannerBelowBox{
	width: 278px;height: 210px;
	display: block;
	float: left;
	margin-right: 20px;
}
#lastBannerBelowBox{
	float: right;
	margin: 0;
}

#select nav a{
	font-size: 16px;
	color: #666666;
	margin:0 36px;
}
#select nav{
	margin:40px auto 10px;
	width: 1480px;
	text-align: center;
}
.detailBox{
	width: 332px;
	height: 305px;
	margin-right: 50px;
	margin-top: 30px;
	float: left;
}
.detailBoxImg{
	width: 332px;
	height: 232px;
	background-color: #e7e7e7;
}
.detailBoxTitle{
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 14px;
	color: #333333;
}
.detailBoxHeadImg{
	width: 22px;
	height: 22px;
	margin-right: 10px;
	background-color: #e7e7e7;
	border-radius: 4px;
	float: left;
}
.detailBoxAuthor{
	font-size: 12px;
	color: #333333;
	float: left;
}
.detailBoxDate{
	font-size: 14px;
	color: #999999;
	float: right;
}
#lastSelectDetailBox1,#lastSelectDetailBox2{
	margin-right: 0;
	float: right;
}
.more{
	margin-top: 30px;
	width: 1480px;
	float: left;
}
.moreBox{
	width: 200px;
	height: 52px;
	margin: 0 auto;

	border: 1px #000000;
	background-color: white;
}
.moreBox a{
	color: black;
}
.moreBoxDetail{
	width: 84px;
	height: 21px;
	margin: 15px 58px 16px 58px;
	float: left;
}
.moreBoxText{
	font-size: 14px;
	color: #333333;
	float: left;
	margin-right: 8px;
}
.moreBoxImg{
	float: left;
}
.contentTitle{
	font-size: 24px;
	font-weight: bold;
	word-spacing: 8px;
	width: 100px;
	margin: 40px auto 0px auto;
}
.detailBoxImgBox{
	width: 332px;
	height: 232px;
	background-color: white;
}
.detailBoxImgs{
	width: 316px;
	height: 216px;
	margin: 8px;
	float: left;
}
.detailBoxImg1{
	width: 208px;
	height: 216px;
	float: left;
}
.detailBoxImg2{
	width: 104px;
	height: 70px;
	float: right;
	margin-bottom: 3px;
}