body,header,div,nav,a,ul,li,a,footer{
	margin: 0;padding: 0;
}
a { text-decoration: none; }
li{list-style:none}

img{vertical-align:top;border:none}

#bannerImg,.bannerBelowBox{
	background-color: #e7e7e7;
}
#banner,footer{
	display: block;
	float: left;
}
#bannerBelow,#select,#insertDrawing,#gallery,#album{
	margin: 0 50px;
	display: block;
	float: left;
}

header{
	height: 145px;
	background-color: white;
}
body{
	background-color: #f7f7f7;
}
footer{
	background-color: black;
}
#content{
	min-width: 1580px;
	width: 1580px;
	margin: 0 auto;
}

#banner{
	height: 394px;
	padding-top: 20px;
}
#bannerImg{
	width: 1480px;
	height: 394px;
}
#bannerLeft,#bannerRight{
	width: 50px;
	height: 394px
}
#banner div{
	float: left;
}
#bannerNav li{
	margin: 10px;
	width: 30px;
	height: 5px;
	background-color: white;
	float: left;
	display: block;
	position: relative;
	top: -40px;
	left: 665px;
}

#bannerBelow{
	margin-top: 20px;
}
.bannerBelowBox{
	width: 278px;height: 210px;
	display: block;
	float: left;
	margin-right: 20px;
}
#lastBannerBelowBox{
	float: right;
	margin: 0;
}

#select nav a{
	size: 16px;
	color: #666666;
	margin:0 36px;
}
#select nav{
	margin:40px auto 10px;
	width: 1480px;
	text-align: center;
}
.detailBox{
	width: 332px;
	height: 305px;
	margin-right: 50px;
	float: left;
}
.detailBoxImg{
	width: 332px;
	height: 232px;
	background-color: #e7e7e7;
}
.detailBoxTitle{
	margin-top: 15px;
	margin-bottom: 10px;
	size: 14px;
	color: #333333;
}
.detailBoxHeadImg{
	width: 22px;
	height: 22px;
	margin-right: 10px;
	background-color: #e7e7e7;
	border-radius: 4px;
	float: left;
}
.detailBoxAuthor{
	size: 12px;
	color: #333333;
	float: left;
}
.detailBoxDate{
	size: 14px;
	color: #999999;
	float: right;
}
#lastSelectDetailBox1,#lastSelectDetailBox2{
	margin-right: 0;
	float: right;
}